/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
}

body, #root, #root > *, #root > * > * {
  border-radius: 0px;
}

button {
  border: none;
  color: inherit;
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
}

svg {
  cursor: pointer
}

textarea {
  padding: 5px 10px;
  border: none;
}

input {
  padding: 5px 10px;
  border: none;
}

input:focus, textarea:focus {
  outline: 0;
}

/* 모달관리 */
.signup-modal.open-signup-modal svg {
  font-size: 1.5rem;
  padding: 0;
}

.signup-modal{
  display: none;
}

.signup-modal.open-signup-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.signup-modal.open-signup-modal section {
  width: 30vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

#signup-modal-main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

#signup-modal-main input {
  border: 1px black solid;
  width: 65%;
  font-size: 0.9rem;
}

#signup-modal-main > * {
  width: 100%;
}

.signup-modal.open-signup-modal .btn-center {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

#input-center {
  width: 70%;
  min-height: 9rem;
}

.signup-modal.open-signup-modal button {
  display: block;
}

#signup-email,
#signup-password,
#signup-password-check {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

#signup-modal-main label {
  line-height: 2rem
}

#signup-btn {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

#change-section {
  margin: 1.5rem 0;
  text-align: center;
}

.error-msg {
  color: red;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
}

.write-comment-modal{
  display: none;
}

.write-comment-modal.open-write-comment-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.write-comment-modal section {
  height: 20vh;
  width: 30vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.write-comment-modal header {
  display: flex;
  align-items: center;
}

.write-comment-modal header div {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.write-comment-modal svg {
  font-size: 1.5rem;
  padding: 0;
}

.write-comment-modal main {
  display: flex;
  align-items: center;
  height: 85%;
}

.write-comment-modal textarea{
  flex-grow: 1;
  height: 80%;
  margin: 0.5rem;
  border: 1px black solid;
}

.write-comment-modal button{
  height: 80%;
  margin: 0.5rem;
  border: 1px black solid;
}

.comment-modal{
  display: none;
}

.comment-modal.open-comment-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .comment-modal.open-comment-modal * {
  border: 1px black solid;
} */

.comment-modal section {
  width: 60vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.comment-modal svg {
  font-size: 1.5rem;
  padding: 0;
  height: 100%;
}

.comment-modal header {
  margin-bottom: 1rem;
}

.comment-modal .comment-item {
  border-radius: 0;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px black dashed;
}

.comment-modal .like-comment-display {
  background-color: rgba(255, 0, 0, 0.5);
  overflow-y: auto;
}

.comment-modal .dislike-comment-display {
  background-color: rgba(0, 0, 255, 0.5);
  overflow-y: auto;
}

.comment-modal .comment-item  * {
  line-height: 2rem;
}

/* .post-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.post-modal.open-post-modal {
  display: flex;
  align-items: center;
  z-index: 1050 !important;
} */

/* 사이드바 */
.side-bar{
  background-color: honeydew;
  z-index: 1000;
  width: 18vw;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#logo * {
  margin: 0.5rem 0;
}
.side-bar img {
  width: 100%;
  cursor: pointer;
}
#search-bar {
  width: 100%;
  display: flex;
  align-items: center;
}
#search-bar * {
  font-size: 0.75rem;
}
#search-bar svg {
  position: absolute;
  left: 14rem;
  font-size: 1rem;
  line-height: 2.5rem;
  border-radius: 50%;
  margin: 0;
}
#search-input {
  width: 100%;
  border: 1px black solid;
  border-radius: 2.5rem;
  height: 2.5rem;
}
.profile {
  width: 100%;
  border: none;
  flex-grow: 1;
  padding: 1rem;
}
.menu-open * {
  margin: 2rem 0rem;
  font-size: 1.75rem;
  font-family: 'Leckerli One', sans-serif;
  cursor: pointer;
  text-align: center;
  color: lightcoral;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#to-about-page {
  font-size: 1.25rem;
}
#since {
  font-size: 0.75rem;
}

/* 랜딩페이지 */
.landing-page{
  background-color: grey;
}
.lp-content{
  position: relative;
  left: 18vw;
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  padding: 10vh;
  min-height: 100vh;
}
.lp-description {
  width: 70vw;
  background-color: indigo;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.display-none {
  display: none;
}
.lp-description-text{
  /* width:30vw; */
  height: 90vh;
  flex-grow: 0.4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: khaki;
}
.lp-description-img-box{
  height: 90vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: ivory;
}
.lp-description-img{
  width: 50vw;
  height: 90vh;
}
.lp-postlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#search-message {
  margin: 1rem;
  font-size: 2rem;
  align-self: flex-start;
}
#sort-btn-container {
  margin: 0.5rem 1rem;
  width: 55vw;
  display: flex;
  justify-content: space-around;
}
.post-case{
  background-color: lightcoral;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  align-items: center;
}

/* post-case */
.post-case.closed{
  background-color: white;
}
.post-case-header{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  margin-top: 1.5rem;
  width: 95%;
}
.btn-center {
  padding: 0.5rem 1rem;
}
.btn-center button {
  margin: 0 0.25rem;
}
.post-case-title{
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.post-case-header svg {

  font-size: 1.5rem;
}
.post-case-img-box {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.post-case-img{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.post-case-body {
  padding: 0.75rem;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.post-case-body > * {
  margin: 0.5rem 0;
}
.post-case-content {
  padding-bottom: 1rem;
}
.post-case-likerate {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px;
}
.post-case-likerate > * {
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
}
.post-case-sararate{
  background-color: blue;
  height: 1rem;
  border-radius: 0px;
}
.post-case-mararate{
  background-color: red;
  height: 1rem;
  border-radius: 0px;
}
.post-case-likeordislike{
  display: flex;
  justify-content: space-between;
}
.post-case-likeordislike * {
  width: 49%;
}
.post-case-best-comment{
  display: flex;
  justify-content: space-between;
}
.post-case-best-comment > * {
  border: solid 1px black;
  padding: 0.5rem;
  width: 49%;
  min-height: 6.4375rem;
  display: flex;
  flex-direction: column;
}
.post-case-best-comment > * > * {
  margin: 0.25rem;
}

/* comment */
.comment-display{
  display: flex;
  justify-content: space-between;
}

.comment-display > * {
  padding: 0.5rem 1rem;
  width: 49%;
  display: flex;
  flex-direction: column;
}

.comment-item{
  display: flex;
  justify-content: space-between;
}
.comment-item button {
  padding: 0px;
}
.comment-item-content{
  width: 80%;
  overflow: hidden;
}

/* writepage */
.write-page{
  background-color: grey; 
  width: 100vw;
  height: 100vh;
}
.wp-content{
  position: relative;
  left: 18vw;
  width: 82vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10vh;
  min-height: 100vh;
}
.wp-content > * {
  border: black 1px solid;
  width: 55vw;
}
#wp-img-upload {
  display: flex;
  align-items: flex-end
}
.wp-preview-img-box{
  background-color: #efefef;
  width: 20vh;
  height: 20vh;
}
.wp-preview-img{
  width: 100%;
  height: 100%;
}

/* 마이페이지 */
.my-page {
  background-color: grey; 
  width: 100vw;
  height: 100vh;
}
#mp-title {
  margin: 0.5rem 1rem;
  width: 55vw;
}
#mp-title * {
  margin: 0.5rem;
}
#current-page {
  font-size: 2rem;
}
.mp-content {
  position: relative;
  left: 18vw;
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  padding: 10vh;
  min-height: 100vh;
}
.mp-postlist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
#hello-msg {
  position: absolute;
  top: 2vh;
  left: 2vw;
}
#goodbye-btn {
  position: fixed;
  top: 2vh;
  right: 2vw;
}
#mp-comments .comment-item {
  width: 55vw;
  margin: 1rem;
  padding: .75rem;
  background-color: lightcoral;
}

#mp-comments .comment-item button {
  background-color: inherit;
}

#to-comments {
  padding: 1rem;
}

/* 어바웃페이지 */
#ap-content{
  position: relative;
  left: 18vw;
  width: 82vw;
  background-color: lightblue;
  padding: 5vh 5vw;
}