/* global styles */

/* html{
  height: 100%;
  overflow: auto;
}
body{
  height: 100%;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.8);
}

#root {
  --salka-blue: rgba(59,180,252);
  --malka-red: rgba(251,89,95);
  --background: rgb(160,220,251);
  --sidebar: #e7f6fd;
  --malka-pink: rgba(250,174,175);
  --background-red: rgb(251, 238, 235);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body, #root, #root > *, #root > * > * {
  border-radius: 0px;
}

button {
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  padding: 0.5rem;
}

svg {
  cursor: pointer
}

textarea {
  background-color: inherit;
  padding: 0.5rem;
  border: none;
}

input {
  background-color: inherit;
  padding: 0.5rem;
  border: none;
}

input:focus, textarea:focus {
  outline: 0;
}

.hidden {
  visibility: hidden;
}

/* 모달관리 */
.signup-modal{
  display: none;
}

.signup-modal * {
  font-size: 16px;
}

.signup-modal.open-signup-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.signup-modal section {
  padding: 1rem;
  width: 40vw;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-modal section > svg {
  font-size: 24px;
}

.signup-modal svg * {
  color: var(--salka-blue);
}

.signup-modal svg:hover * {
  color: var(--malka-red);
}

.signup-modal * {
  font-weight: 700;
}

#signup-modal-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#signup-modal-main input {
  color: var(--salka-blue);
  border: var(--background) solid 2px;
  background-color: var(--sidebar);
  border-radius: 2.5rem;
  height: 2.5rem;
  text-align: center;
  width: 65%;
  font-size: 1rem;
}

.signIn #signup-modal-main input {
  width: 70%;
}

#signup-modal-main label {
  color: var(--salka-blue);
  background-color: var(--sidebar);
  height: 2.5rem;
  line-height: 2.5rem;
}

#signup-modal-main > * {
  width: 100%;
}

#input-center {
  width: 60%;
  min-height: 9rem;
}

.btn-center {
  display: flex;
  align-items: center;
}

.signup-modal button {
  display: block;
  margin: 1rem 1.5rem;
  background-color: var(--salka-blue);
  color: var(--sidebar);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 12px;
}

.signup-modal button:hover {
  background-color: var(--malka-red);
  color: var(--background-red);
}

.signup-modal .signUp button {
  width: 4.5rem;
  height: 4.5rem;
}

#signup-email,
#signup-password,
#signup-password-check {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

#signup-btn {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

#change-section {
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
}

#change-section:hover * {
  color: var(--malka-red);
}

#change-section * {
  height: 100%;
  line-height: 100%;
  color: var(--salka-blue);
}

#change-section svg {
  font-size: 16px;
}

.error-msg {
  text-align: center;
  color: var(--malka-red);
  font-size: 12px;
  height: 1.5rem;
  line-height: 1.5rem;
}

.error-msg svg {
  font-size: 12px;
  margin-right: 0.5rem;
}

.error-msg svg * {
  color: var(--malka-red) !important;
}

.write-comment-modal{
  display: none;
}

.write-comment-modal.open-write-comment-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.write-comment-modal section {
  height: 25vh;
  width: 32.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.write-sara-comment {
  background-color: white;
}

.write-mara-comment {
  background-color: white;
}

.write-sara-comment svg * {
  color: var(--salka-blue);
}

.write-mara-comment svg * {
  color: var(--malka-red);
}

.write-comment-modal header {
  display: flex;
  align-items: center;
}

.write-comment-modal svg {
  font-size: 1.5rem;
  padding: 0;
}

.write-comment-modal header div {
  font-size: 0.75rem;
  margin-left: 0.75rem;
  color: black;
  font-weight: 400;
}

.write-comment-modal main {
  display: flex;
  align-items: center;
  height: 85%;
}

.write-sara-comment textarea{
  flex-grow: 1;
  height: 80%;
  margin: 0.5rem;
  border: var(--background) solid 2px;
}

.write-sara-comment button{
  background-color: var(--salka-blue);
  color: var(--sidebar);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0.5rem;
  font-weight: 700;
}

.write-sara-comment button:hover {
  background-color: var(--malka-red);
  color: var(--background-red);
}

.write-mara-comment textarea{
  flex-grow: 1;
  height: 80%;
  margin: 0.5rem;
  border: var(--malka-pink) solid 2px;
}

.write-mara-comment button{
  background-color: var(--malka-red);
  color: var(--background-red);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0.5rem;
  font-weight: 700;
}

.write-mara-comment button:hover {
  background-color: var(--salka-blue);
  color: var(--sidebar);
}

.comment-modal{
  display: none;
}

.comment-modal.open-comment-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050 !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.comment-modal section {
  width: 60vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.post-case.closed .comment-modal section {
  opacity: 0.75;
}

.comment-modal svg {
  font-size: 1.5rem;
  padding: 0;
  height: 100%;
}

.comment-modal header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.comment-modal header div {
  margin-left: 0.75rem;
}

.comment-modal .comment-item {
  border-radius: 0;
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

.comment-modal .comment-item.sara {
  border-bottom: 1px var(--salka-blue) dashed;
}

.comment-modal .comment-item.sara:last-child,
.comment-modal .comment-item.mara:last-child  {
  border:none;
}

.comment-modal .comment-item.mara:last-child {
  border-bottom: 1px var(--malka-red) dashed;
}

.comment-modal .like-comment-display {
  border: var(--background) dotted 3px;
  overflow-y: auto;
}

.comment-modal .dislike-comment-display {
  border: var(--malka-pink) dotted 3px;
  overflow-y: auto;
}

.comment-modal .comment-item  * {
  line-height: 2rem;
}

/* 사이드바 */
.side-bar{
  position: fixed;
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: top 0.3s ease-out 0.2s;
  box-shadow: 0 0.1px 10px lightgray;
  overflow-y: hidden;
}
#logo-crop, #logo-square {
  cursor: pointer;
  height: 6rem;
  padding: 1.25rem;
  transition: transform 0.3s ease-out;
}
#logo-crop:hover, #logo-square:hover {
  opacity: 66%;
}
#logo-square:hover {
  transform: rotate( 90deg )
}
.search-bar {
  position: absolute;
  left: 50vw;
  margin-left: -20vw;
  display: flex;
  align-items: center;
  width: 40vw;
}
.search-bar svg {
  padding: 0px !important;
  font-size: 1.5rem;
  position: relative;
  right: 3rem;
  line-height: 3rem;
}
.search-bar svg * {
  color: var(--background);
}
#search-input {
  border: var(--background) solid 3px;
  background-color: var(--sidebar);
  width: 100%;
  border-radius: 3.5rem;
  height: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--salka-blue);
}

.search-bar:hover svg *,
#search-input:focus + svg * {
  color: var(--salka-blue);
}

#search-input:focus,
.search-bar:hover #search-input {
  border: var(--salka-blue) solid 3px;
}
.profile {
  padding: 1rem;
  display: flex;
}
#to-about-page,
#to-main-page {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  color: var(--sidebar);
}
#to-about-page:hover,
#to-main-page:hover {
  color: var(--malka-red);
}
#menu {
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
#menu * {
  color: var(--sidebar);
}
.menu-open {
  margin: 1rem;
  height: 0;
  overflow-y: hidden;
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 1;
  background-color: var(--background);
  border-radius: 0;
  transition: height 0.3s ease-out 0.2s;
}
.menu-open * {
  margin: 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  color: var(--sidebar);
  display: block;
  padding: 0.5rem;
}
.menu-open *:hover {
  color: var(--malka-red);
}
#menu:hover + .menu-open,
.menu-open:hover {
  height: 13rem;
}
#since {
  font-size: 0.75rem;
  font-family: 'Nanum Myeongjo', serif;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: rgb(231, 231, 231);
}

#footer span,
#footer > div {
  font-family: 'Nanum Myeongjo', serif;
}

#footer span:nth-child(2) {
  color: var(--salka-blue);
  font-family: 'Leckerli One', sans-serif;
}
#footer span:nth-child(3) {
  color: var(--malka-red);
  font-family: 'Barlow', sans-serif;
}

/* 랜딩페이지 */
.lp-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sidebar);
  padding: 10vh;
  padding-top: 20vh;
  min-height: 100vh;
}
.lp-description {
  width: 70vw;
  background-color: indigo;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.display-none {
  display: none;
}
.lp-description-text{
  /* width:30vw; */
  height: 90vh;
  flex-grow: 0.4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: khaki;
}
.lp-description-img-box{
  height: 90vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: ivory;
}
.lp-description-img{
  width: 50vw;
  height: 90vh;
}
.lp-postlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
#search-message {
  margin: 1rem;
  font-size: 2rem;
  color: var(--salka-blue);
  font-weight: 800;
}
#sort-btn-container {
  margin: 0.5rem 1rem;
  width: 55vw;
  display: flex;
  justify-content: space-around;
}
.sort-btn {
  text-align: center;
}
.sort-btn div {
  margin-top: 1rem;
  color: var(--salka-blue);
  font-weight: 800;
}

.sort-btn svg * {
  color: var(--salka-blue);
}
.sort-btn:hover *,
.sort-btn.current * {
  color: var(--malka-red);
  cursor: pointer;
}

.lp-up-btn{
  background-color: var(--salka-blue);
  border-radius: 50% !important;
  z-index: 500;
  padding: 1rem;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  transition: bottom 0.3s ease-out 0.2s;
  opacity: 0.6;
}

.lp-up-btn:hover {
  bottom: 6.5rem;
  opacity: 1;
}

.lp-up-btn svg * {
  color: var(--sidebar);
}

.lp-up-btn:hover svg * {
  color: var(--background-red);
}

/* post-case */
.post-case{
  border: 2px dotted var(--salka-blue);
  /* 컬러옵션 */
  /* background-color: rgba(255, 255, 255, 0.4); */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  align-items: center;
  padding: 2rem;
  padding-bottom: 1rem;
}
.post-case.closed {
  background-color: rgba(128, 122, 122, 0.5);
}
.closed-msg {
  font-weight: 700;
}

.post-case.closed .post-case-header,
.post-case.closed .post-case-content,
.post-case.closed .post-case-best-comment > * {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.75;
}

.post-case.closed .post-case-sararate,
.post-case.closed .post-case-mararate,
.post-case.closed .post-case-all-comments {
  opacity: 0.75;
}

.post-case-header{
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  font-weight: 800;
}
.post-case-header * {
  color: rgba(0, 0, 0, 0.6);
}
.post-case-title{
  font-size: 1.5rem;
}
.post-btn-center {
  display: flex;
  align-items: center;
}
.post-btn-center button {
  font-weight: 800;
}
.post-btn-center svg {
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}
.post-btn-center svg:hover * {
  color: white;
}
.post-case-img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.post-case-img{
  margin-bottom: 2rem;
}
.post-case-body {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: stretch;
}
.post-case-content {
  margin-bottom: 3rem;
  line-height: 1.5rem;
  min-height: 5rem;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.6); */
  /* 컬러옵션 */
  background-color: white
}
.post-case-likerate {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  margin-bottom: 2rem;
}
.post-case-likerate * {
  border-radius: 0px;
}
.post-case-rate {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
}
.post-case-graph {
  margin-top: 0.5rem;
  display: flex;
  justify-content: stretch;
}
.post-case-mararate {
  text-align: right;
}
.post-case-saragraph{
  background-color: rgba(59,180,252, 0.6);
  height: 1rem;
}
.post-case-maragraph{
  background-color: rgba(251,89,95, 0.6);
  height: 1rem;
}
.post-case-likeordislike{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.post-case-likeordislike * {
  font-size: 2.5rem;
  width: 49%;
  padding: 0;
}
.post-case-likebtn {
  color: var(--salka-blue);
  font-family: 'Leckerli One', sans-serif;
}
.post-case-dislikebtn {
  color: var(--malka-red);
  font-family: 'Barlow', sans-serif;
}
.post-case-best-comment{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.post-case-best-comment.nothing .nothing {
  width: 100%;
}
.post-case-best-comment .nothing{
  justify-content: center;
  align-items: center;
}

.post-case-best-comment .nothing,
.best-like-comment,
.best-dislike-comment {
  background-color: white;
  padding: 0.5rem;
  width: 49%;
  min-height: 6.4375rem;
  display: flex;
  flex-direction: column;
}

.best-like-comment > *,
.best-dislike-comment > * {
  margin: 0.25rem;
}

.post-case-all-comments {
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
}
.post-case-all-comments {
  text-align: center;
  padding: 0.75rem;
}
.post-case-all-comments span {
  line-height: 2rem;
  font-size: 1.25rem;
}
.post-case-all-comments span:first-child {
  color: var(--salka-blue);
  font-family: 'Leckerli One', sans-serif;
  font-size: 1.5rem;
}
.post-case-all-comments span:nth-child(2) {
  color: var(--malka-red);
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
}

.nothing * {
  color: var(--salka-blue)
}

.nothing div {
  font-weight: 700;
}

.post-case .nothing svg {
  font-size: 2rem;
}

/* comment */
.comment-display{
  display: flex;
  justify-content: space-between;
}

.comment-display > * {
  padding: 0.5rem 1rem;
  width: 49%;
  display: flex;
  flex-direction: column;
}

.comment-item{
  display: flex;
  justify-content: space-between;
}
.comment-item button {
  padding: 0px;
}
.comment-item-content{
  width: 80%;
  overflow: hidden;
}

/* writepage */
.write-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.wp-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar);
  padding-top: 7rem;
  /* min-height: 100vh; */
}
.wp-content input[name=title],
.wp-content textarea {
  border: 2px dotted var(--salka-blue);
  padding: 1rem;
}
.wp-content > * {
  width: 40vw;
  margin: 1rem 0;
}
#wp-img-upload {
  display: flex;
  align-items: center;
  border: 2px dotted var(--salka-blue);
}
.wp-preview-img-box{
  width: 8rem;
  height: 8rem;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wp-preview-img-box svg {
  font-size: 5rem;
  height: 100%;
  line-height: 100%;
  text-align: center;
  cursor: auto;
}

.wp-preview-img-box svg * {
  color: var(--background);
}

.wp-preview-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wp-submit {
  background-color: var(--salka-blue);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#wp-submit svg {
  font-size: 2rem;
  line-height: 4rem;
}
#wp-submit svg * {
  color: var(--sidebar);
}
#wp-submit:hover {
  background-color: var(--malka-red);
}

#wp-submit:hover * {
  color: var(--background-red);
}

/* 마이페이지 */
.my-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
#mp-title {
  margin: 0.5rem 1rem 0 1rem;
  width: 55vw;
  padding-bottom: 0.5rem;
  border-radius: 0;
}
#mp-title * {
  margin: 0.5rem;
  color: var(--salka-blue);
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}
#mp-title *:hover {
  color: var(--malka-red);
}
#current-page {
  font-size: 3rem;
}
.mp-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: var(--sidebar);
  padding: 10vh;
  padding-top: 20vh;
}
.check-all {
  margin: 1rem;
  width: 55vw;
  padding: 0 1rem;
}
.nothing.with-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nothing.with-message svg {
  font-size: 5rem;
}
.nothing.with-message .nothing-msg-default {
  margin: 1rem 0;
}
.mp-content .post-case .nothing div {
  margin: 0;
}
.mp-postlist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
#hello-msg {
  width: 100%;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
}
#goodbye-btn {
  position: fixed;
  bottom: 11rem;
  right: 2rem;
  background-color: var(--salka-blue);
  color: var(--sidebar);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: bottom 0.3s ease-out 0.2s;
  opacity: 0.6;
}

#goodbye-btn:hover {
  bottom: 11.5rem;
  opacity: 1;
}
#mp-comments .comment-item {
  width: 55vw;
  margin: 1rem;
  padding: 1.5rem;
  line-height: 1.5rem;
  border: 2px dotted var(--salka-blue);
  align-items: center;
}

#mp-comments .comment-item.sara {
  border: 3px dotted var(--background);
}

#mp-comments .comment-item.mara {
  border: 3px dotted var(--malka-pink);
}

#to-comments {
  padding: 2rem 2rem 0 2rem;
  cursor: pointer;
}

/* 어바웃페이지 */
#about-page #to-about-page {
  display: none;
}

#ap-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sidebar);
  padding-top: 18vh;
  min-height: 100vh;
}
#ap-content > div {
  border: 2px dotted var(--salka-blue);
  margin: 1rem 12rem 3rem 12rem;
  padding: 3rem;
  border-radius: 20px;
}
#ap-content > img {
  width: 40vw;
}

#ap-content h1 {
  margin-bottom: 1rem;
}

#ap-content h1 span {
  font-size: 3rem;
  font-weight: 800;
}

#ap-content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  /* font-weight: 800; */
  font-family: 'Nanum Brush Script', cursive;
}

#ap-content h3.about-troika span{
  font-size: 3rem;
  color: black;
  font-family: 'Nanum Brush Script', cursive;
}

#ap-content h3.about-troika span:first-child{
  font-size: 2rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}

#ap-content p {
  line-height: 1.5rem;
}

.salka-malka {
  text-align: right;
}

.about-troika {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member {
  padding: 1rem;
  display: flex;
  line-height: 2rem;
  margin: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.ap-img-box {
  width: 9.5rem;
  height: 9.5rem;
  border: 1px solid black;
}

.team-member svg {
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.team-member-name {
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'Nanum Brush Script', cursive;
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 10px;
  }

  
  .lp-content {
    padding: 0 2rem;
    padding-top: 8rem;
  }

  .lp-postlist {
    width: 100%;
  }
  #search-message {
    text-align: center;
    
  }
  .lp-postlist > div {
    width: 100%;
  }

  .side-bar {
    height: 6rem;
    padding: 0 1rem;
  }

  .landing-page .side-bar {
    padding: 0 2rem;
  }
  
  
  .side-bar * {
    font-size: 1.25rem !important;
  }

  .search-bar {
    width: 60vw;
    margin-left: -28vw;
  }

  .landing-page .profile {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  #to-about-page {
    margin: 0;
  }

  #menu:hover + .menu-open,
  .menu-open:hover {
    height: 9rem;
  }

  .menu-open {
    margin: 0;
    padding: 0;
    right: 0;
    margin-top: 1rem;
    opacity: 0.8;
  }

  .menu-open * {
    margin: 1rem;
    padding: 0;
  }
  .post-case {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    border-radius: 0;
    border: 2px dotted var(--salka-blue);
  }

  .mp-content {
    padding: 0 2rem;
    padding-top: 8rem;
    /* height: 100%; */
  }

  #mp-title {
    width: 100%;
  }

  .mp-postlist,
  #mp-comments,
  #mp-comments .comment-item {
    width: 100%;
  }


  #mp-comments .comment-item {
    margin: 1rem 0;
  }

  #goodbye-btn,
  .lp-up-btn,
  #footer div:last-child,
  #hello-msg,
  #mp-comments .comment-item button,
  .landing-page #logo-crop,
  .check-all,
  input[type=checkbox] {
    display: none;
  }

  .wp-content {
    padding: 2rem;
    padding-top: 6rem;
  }
  .wp-content > * {
    width: 100%;
  }

  #ap-content {
    padding: 0 2rem;
    padding-top: 8rem;
  }
  #ap-content > * {
    width: 100%;
  }
  #ap-content > img {
    width: 80%;
  }

  div.about-troika {
    flex-direction: column;
  }

  #footer div:first-child {
    width: 100%;
    text-align: center;
  }

  .signup-modal {
    padding: 2rem;
  }

  .signup-modal * {
    font-size: 1rem !important;
  }

  .signup-modal button {
    font-size: 0.8rem !important;
  }

  .signup-modal section {
    width: 100%;
  }

  .signUp #input-center {
    width: 70%;
  }

  .write-comment-modal {
    padding: 2rem;
  }

  .write-comment-modal section {
    width: 100%;
  }

  .comment-modal {
    padding: 2rem;
  }

  .comment-modal section {
    width: 100%;
  }

  .comment-modal .comment-item * {
    line-height: 1.25rem;
  }

  .comment-item-content {
    width: 60%;
  }

  #mp-comments .comment-item-content {
    width: 80%;
  }

  #current-page {
    font-size: 1.5rem;
    color: var(--malka-red);
  }
}