* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;

}

body, #root, #root > *, #root > * > * {
  border-radius: 0px;
}

button {
  border: none;
  color: inherit;
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
}

textarea {
  padding: 5px 10px;
  border: none;
}

input {
  padding: 5px 10px;
  border: none;
}

input:focus, textarea:focus {
  outline: 0;
}

/* 모달관리 */
.signup-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.signup-modal.open-signup-modal {
  display: flex;
  align-items: center;
  z-index: 1050 !important;
  background-color: rgba(255, 255, 255, 0.726);
}

.signup-modal.open-signup-modal main {
  display: flex;
  flex-direction: column;
}

.signup-modal.open-signup-modal main * {
  margin: 10px;
}

.redirect-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.redirect-modal.open-redirect-modal {
  display: flex;
  align-items: center;
  z-index: 1050 !important;
  background-color: rgba(255, 255, 255, 0.726);
}

.redirect-modal.open-redirect-modal main {
  display: flex;
  flex-direction: column;
}

.redirect-modal.open-redirect-modal main * {
  margin: 10px;
}

.write-comment-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.write-comment-modal.open-write-comment-modal {
  display: flex;
  align-items: center;
  z-index: 1050 !important;
}

.comment-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.comment-modal.open-comment-modal {
  display: flex;
  align-items: center;
  z-index: 1050 !important;
}

.post-modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.post-modal.open-post-modal {
  display: flex;
  align-items: center;
  z-index: 1050 !important;
}

/* ----------------- */

.landing-page{
  background-color: grey;
}
.side-bar{
  background-color: honeydew;
  z-index: 1000;
  width: 18vw;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
}
#search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#search-bar * {
  font-size: 0.75rem;
}
#search-input {
  width: 70%;
  border: 1px black solid;
}
.about-page {
  position: absolute;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  height: 40px;
}
.menu-close{
  display: none;
}
.menu-open * {
  margin: 0.5rem 0rem;
}
.lp-content{
  position: relative;
  left: 18vw;
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  padding: 10vh;
  min-height: 100vh;
}
.lp-description{
  width: 70vw;
  background-color: indigo;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.display-none{
  display: none;
}
.lp-description-text{
  /* width:30vw; */
  height: 90vh;
  flex-grow: 0.4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: khaki;
}
.lp-description-img-box{
  /* width: 30vw; */
  height: 90vh;
  /* flex-grow: 1; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: ivory;
}
.lp-description-img{
  width: 50vw;
  height: 90vh;
}
.lp-postlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#search-message {
  margin: 0.5rem 1rem;
}
#sort-btn-container {
  margin: 0.5rem 1rem;
  width: 55vw;
  display: flex;
  justify-content: space-around;
}
.post-case{
  background-color: lightcoral;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  align-items: center;
}
.post-case.closed{
  background-color: white;
}
.post-case-header{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  margin-top: 1.5rem;
  width: 95%;
}
.btn-center {
  padding: 0.5rem 1rem;
}
.btn-center button {
  margin: 0 0.25rem;
}
.post-case-title{
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.post-case-img-box {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.post-case-img{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.post-case-body {
  padding: 0.75rem;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.post-case-body > * {
  margin: 0.5rem 0;
}
.post-case-content {
  padding-bottom: 1rem;
}
.post-case-likerate {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px;
}
.post-case-likerate > * {
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
}
.post-case-sararate{
  background-color: blue;
  height: 1rem;
  border-radius: 0px;
}
.post-case-mararate{
  background-color: red;
  height: 1rem;
  border-radius: 0px;
}
.post-case-likeordislike{
  display: flex;
  justify-content: space-between;
}
.post-case-likeordislike * {
  width: 49%;
}
.post-case-best-comment{
  display: flex;
  justify-content: space-between;
}
.post-case-best-comment > * {
  border: solid 1px black;
  padding: 0.5rem;
  width: 49%;
  min-height: 6.4375rem;
  display: flex;
  flex-direction: column;
}
.post-case-best-comment > * > * {
  margin: 0.25rem;
}
.comment-display{
  display: flex;
}
.comment-item{
  display: flex;
  justify-content: space-between;
}
.comment-item button {
  padding: 0px;
}
.comment-item-content{
  width: 80%;
  overflow: hidden;
}

/* writepage */

.write-page{
  background-color: grey; 
  width: 100vw;
  height: 100vh;
}
.wp-content{
  position: relative;
  left: 18vw;
  width: 82vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10vh;
  min-height: 100vh;
}
.wp-content > * {
  border: black 1px solid;
  width: 55vw;
}
#wp-img-upload {
  display: flex;
  align-items: flex-end
}
.wp-preview-img-box{
  background-color: #efefef;
  width: 20vh;
  height: 20vh;
}
.wp-preview-img{
  width: 100%;
  height: 100%;
}

/* 마이페이지 */
.my-page {
  background-color: grey; 
  width: 100vw;
  height: 100vh;
}
#mp-title {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  width: 55vw;
}
.mp-content {
  position: relative;
  left: 18vw;
  width: 82vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  padding: 10vh;
  min-height: 100vh;
}
.mp-postlist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}
#hello-msg {
  position: absolute;
  top: 2vh;
  left: 2vw;
}
#goodbye-btn {
  position: fixed;
  top: 2vh;
  right: 2vw;
}
.mp-content .comment-item {
  width: 55vw;
  margin: 1rem;
  padding: .75rem;
  background-color: lightcoral;
}
.comment-item button {
  background-color: inherit;
}

/* 어바웃페이지 */
#ap-content{
  position: relative;
  left: 18vw;
  width: 82vw;
  background-color: lightblue;
  padding: 5vh 5vw;
}